/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    overflow-y: scroll;
}

body {
    background-color: #181818;
    color: #e0e0e0;
}

/* Variable Declarations */
:root {
    --body-bg: #c1bdba;
    --form-bg: #282828;
    --white: #ffffff;
    --main: #6d8c3e;
    --main-light: #8db551;
    --main-dark: #4b612b;
    --gray-light: #a0b3b0;
    --gray: #ddd;
    --thin: 300;
    --normal: 400;
    --bold: 600;
    --br: 4px;
}

/* Container */
.container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #282828;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

/* Headings */
h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

/* Navbar */
.navbar {
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    background-color: #333333;
    margin: 0 auto;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.dropdown_menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 2rem;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 4px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;
}

.dropdown_menu.open {
    padding: 5px 0;
    height: auto;
}

.dropdown_menu .menubutton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .toggle_btn {
    display: none;
}

.menubutton a {
    display: block;
    height: 100%;
    text-decoration: none;
    text-align: center;
    vertical-align: center;
    padding: 20px;
    color: #e0e0e0;
    font-weight: 500;
    transition: color 0.3s ease;
    vertical-align: middle;
}

.menubutton a:hover {
    color: white;
    background: var(--main);
    border-radius: 4px;
}

.menubutton .active {
    color: white;
    background: var(--main);
    border-radius: 4px;
}

.menubutton {
    transition: transform 0.3s ease;
}

.menubutton:hover {
    transform: scale(1.1);
}

.logobutton a {
    display: block;
    height: 100%;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    color: #e0e0e0;
    font-weight: 500;
    transition: color 0.3s ease;
}

.logobutton a:hover {
    color: white;
    background: var(--main);
    border-radius: 4px;
}

.logobutton .active {
    color: white;
    background: var(--main);
    border-radius: 4px;
}

.loginbuttons {
    display: flex;
    justify-content: flex-end;
}

/* Form Styles */
.form {
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: var(--br);
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    z-index: 1;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: var(--gray-light);
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.tab-group li a:hover {
    background: var(--main-dark);
    color: var(--white);
}

.tab-group .active a {
    background: var(--main);
    color: var(--white);
}

.tab-content > div:last-child {
    display: none;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.field-wrap.hidden {
    display: none;
}

.field-wrap label {
    transform: translateY(6px);
    left: 13px;
    color: rgba(var(--white), 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

label .req {
    margin: 2px;
    color: var(--main);
}

label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}

label.highlight {
    color: var(--white);
}

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid var(--gray-light);
    color: var(--white);
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

input:focus, textarea:focus {
    outline: 0;
    border-color: var(--main);
}

textarea {
    border: 2px solid var(--gray-light);
    resize: vertical;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}

.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.top-row > div:last-child {
    margin: 0;
}

.button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: var(--main);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover, .button:focus {
    background: var(--main-dark);
}

.button-block {
    display: block;
    width: 100%;
}

.downloadButton {
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--main);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.downloadButton:hover, .deleteButton:focus {
    background: var(--main-dark);
}

.forgot {
    margin-top: -20px;
    text-align: right;
}

.deleteButton {
    margin: 10px;
    padding: 10px 20px;
    background-color: #9a1111;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton:hover, .deleteButton:focus {
    background: #730d0d;
}

.signInIcons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
}

.create-strategy-button {
    margin: 20px 0;
    display: block;
    height: 100%;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    padding: 0 20px;
    color: #e0e0e0;
    font-weight: 500;
    font-size: 36px;
    transition: color 0.3s ease;
}

.create-strategy-button:hover {
    color: #ffffff;
    background: #202020;
    border-radius: 4px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #e0e0e0;
    font-size: 1rem;
    line-height: 1.2;
    padding-left: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #444444;
    border-radius: 5px;
    background-color: #202020;
    color: #e0e0e0;
    box-sizing: border-box;
}

.form-group button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: var(--main);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: var(--main-dark);
}

.indicator-list {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}

.indicator-list li {
    background-color: #333333;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

/* Indicators */
.indicator {
    background: var(--main-light);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.indicator h3 {
    color: var(--form-bg);
    margin-top: 20px;
}

.indicator p {
    color: var(--form-bg);
    line-height: 1.6;
}

.indicator-header {
    padding: 10px;
    cursor: pointer;
    color: var(--form-bg);
    font-size: 28px;
    display: block;
}

.indicator-content {
    padding: 0 20px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
    color: var(--form-bg);
}

.indicator-content img {
    display: block;
    width: 60%;
    height: auto;
    margin: 0 auto 15px;
    transition: transform 0.3s ease;
}

@media (max-width: 992px) {
    .indicator-content img {
        width: 99%;
    }
}

.indicator-header:hover {
    background-color: var(--main-dark);
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #e0e0e0;
}

.indicator.active .indicator-content {
    height: auto;
    transition: height 0.3s ease-in;
}

/* Responsive Design */
@media (max-width: 992px) {
    .navbar .menubutton {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
        cursor: pointer;
    }
    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}